In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
%matplotlib inline
import matplotlib.pyplot as plt  # Matlab-style plotting
import seaborn as sns
color = sns.color_palette()
sns.set_style('darkgrid')
import warnings
def ignore_warn(*args, **kwargs):
    pass
warnings.warn = ignore_warn #ignore annoying warning (from sklearn and seaborn)


from scipy import stats
from scipy.stats import norm, skew #for some statistics
pd.set_option('display.max_columns', None)

In [2]:
train = pd.read_csv('train.csv',encoding="ISO-8859-1")
test = pd.read_csv('test.csv',encoding="ISO-8859-1")
train.head()

,Id,A1,A2,A3,A4,t0,T0,t1,T1,t2,T2,t3,T3,P3,t4,T4,t5,T5,P5,A19,S6,A21,A22,A23,t7,T7,t8,T8,S9,B1,B2,B3,S10,t11,T11,t12,T12,S13,S14,S15,B12,B13,B14,Result
0,1,300,NaN,405.0,700,6:30:00,25.0,NaN,NaN,8:00:00,100,9:00:00,103,0.2,10:00:00,104.0,11:00:00,105.0,0.2,300,15:00-15:30,40.0,9.0,5.0,15:30:00,70.0,16:00:00,78,0:00-1:00,320.0,3.5,3.5,1:00-2:30,2:30:00,60,4:30:00,40.0,8:00-9:30,10:00-11:30,NaN,800.0,0.15,400,0.900
1,4,300,NaN,405.0,700,14:00:00,24.0,NaN,NaN,15:30:00,100,16:30:00,102,0.2,17:30:00,102.0,18:30:00,102.0,0.2,300,18:30-19:00,40.0,10.0,5.0,19:00:00,70.0,19:30:00,78,4:00-5:30,300.0,3.5,3.5,5:30-6:30,6:30:00,60,12:00:00,40.0,12:00-13:30,14:30-15:00,NaN,800.0,0.15,400,0.896
2,8,300,NaN,405.0,700,3:30:00,21.0,NaN,NaN,5:00:00,100,6:00:00,102,0.2,7:00:00,103.0,8:00:00,105.0,0.2,300,11:30-12:00,40.0,9.0,5.0,12:00:00,70.0,12:30:00,78,19:00-20:00,310.0,3.5,3.5,20:00-21:0,21:00:00,58,0:30:00,40.0,1:00-2:30,3:00-4:30,NaN,800.0,0.15,420,0.930
3,9,300,NaN,405.0,700,15:00:00,21.0,NaN,NaN,16:00:00,100,17:00:00,102,0.2,18:00:00,103.0,19:00:00,104.0,0.2,300,20:30-21:00,40.0,9.0,5.0,21:00:00,71.0,21:30:00,78,3:30-4:30,310.0,3.5,3.5,4:30-6:00,6:00:00,59,12:00:00,40.0,12:00-13:30,14:00-15:00,NaN,800.0,0.15,420,0.935
4,11,300,NaN,405.0,700,6:00:00,20.0,NaN,NaN,7:30:00,100,8:30:00,102,0.2,9:30:00,102.0,10:30:00,102.0,0.2,300,10:30-11:0,40.0,10.0,5.0,11:30:00,70.0,12:00:00,78,23:00-0:0,310.0,3.5,3.5,0:00-1:00,1:00:00,60,3:30:00,40.0,8:00-9:30,10:00-11:30,NaN,800.0,0.15,420,0.923

In [3]:
train.drop(['t1'], axis=1, inplace=True)
train.drop(['T1'], axis=1, inplace=True)

In [4]:
#将时间信息转化为小时
def t2s(t):
    try:
        t,m,s=t.split(":")
    except:
        if t=='1900/1/9 7:00':
            return 7
        elif t=='1900/1/1 2:30':
            return (2*3600+30*60)/3600
        elif t==-1:
            return None
        else:
            return None
    
    try:
        tm = int(t)*3600+int(m)*60+int(s)
    except:
        return 30*60/3600
    
    return tm/3600
for f in ['t0','t2','t3','t4','t5','t7','t8','t11','t12']:
    train[f] = train[f].apply(t2s)

def getDuration(se):
    try:
        sh,sm,eh,em=re.split("[:,-]",se)
    except:
        if se=='14::30-15:30':
            return 3600
        elif se=='13；00-14:00':
            return 3600
        elif se=='21:00-22；00':
            return 3600
        elif se=='22"00-0:00':
            return 7200
        elif se=='2:00-3;00':
            return 3600
        elif se=='1:30-3;00':
            return 5400
        elif se=='15:00-1600':
            return 3600
        elif se==-1:
            return None
        else:
            return 30*60/3600
        
    try:
        tm = int(eh)*3600+int(em)*60-int(sm)*60-int(sh)*3600
    except:
        if se=='19:-20:05':
            return 3600/3600
        else:
            return 30*60/3600
    
    return tm/3600
for f in ['S6','S9','S10','S13','S14','S15']:
    train[f] = train.apply(lambda df: getDuration(df[f]), axis=1)

In [5]:
train.head()

,Id,A1,A2,A3,A4,t0,T0,t2,T2,t3,T3,P3,t4,T4,t5,T5,P5,A19,S6,A21,A22,A23,t7,T7,t8,T8,S9,B1,B2,B3,S10,t11,T11,t12,T12,S13,S14,S15,B12,B13,B14,Result
0,1,300,NaN,405.0,700,6.5,25.0,8.0,100,9.0,103,0.2,10.0,104.0,11.0,105.0,0.2,300,0.5,40.0,9.0,5.0,15.5,70.0,16.0,78,0.5,320.0,3.5,3.5,0.5,2.5,60,4.5,40.0,0.5,0.5,0.5,800.0,0.15,400,0.900
1,4,300,NaN,405.0,700,14.0,24.0,15.5,100,16.5,102,0.2,17.5,102.0,18.5,102.0,0.2,300,0.5,40.0,10.0,5.0,19.0,70.0,19.5,78,0.5,300.0,3.5,3.5,0.5,6.5,60,12.0,40.0,0.5,0.5,0.5,800.0,0.15,400,0.896
2,8,300,NaN,405.0,700,3.5,21.0,5.0,100,6.0,102,0.2,7.0,103.0,8.0,105.0,0.2,300,0.5,40.0,9.0,5.0,12.0,70.0,12.5,78,0.5,310.0,3.5,3.5,0.5,21.0,58,0.5,40.0,0.5,0.5,0.5,800.0,0.15,420,0.930
3,9,300,NaN,405.0,700,15.0,21.0,16.0,100,17.0,102,0.2,18.0,103.0,19.0,104.0,0.2,300,0.5,40.0,9.0,5.0,21.0,71.0,21.5,78,0.5,310.0,3.5,3.5,0.5,6.0,59,12.0,40.0,0.5,0.5,0.5,800.0,0.15,420,0.935
4,11,300,NaN,405.0,700,6.0,20.0,7.5,100,8.5,102,0.2,9.5,102.0,10.5,102.0,0.2,300,0.5,40.0,10.0,5.0,11.5,70.0,12.0,78,0.5,310.0,3.5,3.5,0.5,1.0,60,3.5,40.0,0.5,0.5,0.5,800.0,0.15,420,0.923

In [6]:
train.describe()

,Id,A1,A2,A3,A4,t0,T0,t2,T2,t3,T3,P3,t4,T4,t5,T5,P5,A19,S6,A21,A22,A23,t7,T7,t8,T8,S9,B1,B2,B3,S10,t11,T11,t12,T12,S13,S14,S15,B12,B13,B14,Result
count,1396.000000,1396.000000,42.0,1354.000000,1396.000000,1393.000000,1396.000000,1395.000000,1396.000000,1396.000000,1396.000000,1396.000000,1396.000000,1396.000000,1395.000000,1396.000000,1396.000000,1396.000000,1396.0,1393.000000,1396.000000,1393.000000,1395.000000,1395.000000,1393.000000,1396.000000,1396.000000,1386.000000,1394.000000,1394.000000,1396.000000,1395.000000,1396.000000,1396.000000,1395.000000,1396.0,1396.0,1396.0,1395.000000,1395.000000,1396.000000,1396.000000
mean,999.717765,298.853868,125.0,403.515510,705.974212,12.507598,28.287751,11.490860,100.861032,10.392849,102.641834,0.199907,10.938574,103.829370,11.693728,104.766905,0.199928,231.067335,0.5,48.707825,9.117120,5.002872,11.845042,75.768459,12.437916,74.396848,3.078438,334.452742,3.454412,3.500072,14.681948,13.153047,72.065186,10.824558,43.709677,0.5,0.5,0.5,1020.215054,0.149419,410.403295,0.923244
std,570.038931,10.130552,0.0,13.348093,53.214754,6.627788,6.742765,6.996173,0.905198,6.789446,0.915387,0.002524,6.719660,0.963639,6.719929,1.401446,0.002676,50.478071,0.0,4.976531,0.369152,0.136638,6.741693,4.776212,6.760306,3.044490,96.338409,105.120753,0.388585,0.002678,276.459213,6.895279,9.161986,6.811892,4.338396,0.0,0.0,0.0,205.920155,0.008213,26.018410,0.030880
min,1.000000,200.000000,125.0,270.000000,470.000000,0.000000,17.000000,0.000000,100.000000,0.000000,98.000000,0.120000,0.000000,100.000000,0.000000,89.000000,0.100000,100.000000,0.5,20.000000,3.500000,4.000000,0.000000,70.000000,0.000000,45.000000,0.500000,3.500000,0.150000,3.500000,0.500000,0.000000,40.000000,0.000000,20.000000,0.5,0.5,0.5,400.000000,0.030000,40.000000,0.624000
25%,508.750000,300.000000,125.0,405.000000,700.000000,6.000000,24.000000,7.500000,100.000000,4.000000,102.000000,0.200000,5.000000,103.000000,5.500000,104.000000,0.200000,200.000000,0.5,50.000000,9.000000,5.000000,4.500000,70.000000,5.000000,73.000000,0.500000,320.000000,3.500000,3.500000,0.500000,7.000000,65.000000,5.000000,45.000000,0.5,0.5,0.5,800.000000,0.150000,400.000000,0.902000
50%,999.500000,300.000000,125.0,405.000000,700.000000,14.000000,29.000000,11.000000,101.000000,9.000000,103.000000,0.200000,10.000000,104.000000,11.000000,105.000000,0.200000,200.000000,0.5,50.000000,9.000000,5.000000,12.000000,78.000000,13.000000,73.000000,0.500000,320.000000,3.500000,3.500000,0.500000,15.000000,78.000000,9.000000,45.000000,0.5,0.5,0.5,1200.000000,0.150000,400.000000,0.925000
75%,1493.500000,300.000000,125.0,405.000000,700.000000,18.000000,30.000000,16.000000,102.000000,17.000000,103.000000,0.200000,18.000000,104.000000,19.000000,105.000000,0.200000,300.000000,0.5,50.000000,9.000000,5.000000,19.000000,80.000000,19.500000,77.000000,0.500000,330.000000,3.500000,3.500000,0.500000,18.500000,80.000000,17.000000,45.000000,0.5,0.5,0.5,1200.000000,0.150000,420.000000,0.943000
max,1994.000000,300.000000,125.0,405.000000,980.000000,23.500000,97.000000,23.666667,103.000000,23.750000,107.000000,0.200000,23.500000,109.000000,23.500000,108.000000,0.200000,350.000000,0.5,90.000000,10.000000,10.000000,23.750000,90.000000,23.500000,80.000000,3600.000000,1200.000000,3.600000,3.600000,7200.000000,23.666667,80.000000,23.500000,73.000000,0.5,0.5,0.5,1200.000000,0.150000,460.000000,1.000800

In [7]:
train[['t0','t2','t3','t4','t5','t7','t8','t11','t12']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1396 entries, 0 to 1395
Data columns (total 9 columns):
t0     1393 non-null float64
t2     1395 non-null float64
t3     1396 non-null float64
t4     1396 non-null float64
t5     1395 non-null float64
t7     1395 non-null float64
t8     1393 non-null float64
t11    1395 non-null float64
t12    1396 non-null float64
dtypes: float64(9)
memory usage: 98.2 KB

In [8]:
train.t0[train.t0.isnull()] = train.t0.dropna().mode().values
train.t2[train.t2.isnull()] = train.t2.dropna().mode().values
train.t3[train.t3.isnull()] = train.t3.dropna().mode().values
train.t5[train.t5.isnull()] = train.t5.dropna().mode().values
train.t7[train.t7.isnull()] = train.t7.dropna().mode().values
train.t8[train.t8.isnull()] = train.t8.dropna().mode().values
train.t11[train.t11.isnull()] = train.t11.dropna().mode().values

In [9]:
train[['t0','t2','t3','t4','t5','t7','t8','t11','t12']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1396 entries, 0 to 1395
Data columns (total 9 columns):
t0     1396 non-null float64
t2     1396 non-null float64
t3     1396 non-null float64
t4     1396 non-null float64
t5     1396 non-null float64
t7     1396 non-null float64
t8     1396 non-null float64
t11    1396 non-null float64
t12    1396 non-null float64
dtypes: float64(9)
memory usage: 98.2 KB

In [10]:
train[['S6','S9','S10','S13','S14','S15']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1396 entries, 0 to 1395
Data columns (total 6 columns):
S6     1396 non-null float64
S9     1396 non-null float64
S10    1396 non-null float64
S13    1396 non-null float64
S14    1396 non-null float64
S15    1396 non-null float64
dtypes: float64(6)
memory usage: 65.5 KB

In [11]:
train[['T0','T2','T3','T4','T5','T7','T8','T11','T12']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1396 entries, 0 to 1395
Data columns (total 9 columns):
T0     1396 non-null float64
T2     1396 non-null int64
T3     1396 non-null int64
T4     1396 non-null float64
T5     1396 non-null float64
T7     1395 non-null float64
T8     1396 non-null int64
T11    1396 non-null int64
T12    1395 non-null float64
dtypes: float64(5), int64(4)
memory usage: 98.2 KB

In [12]:
train.T12[train.T12.isnull()] = train.T12.dropna().mode().values
train.T7[train.T7.isnull()] = train.T7.dropna().mode().values

In [13]:
train[['T0','T2','T3','T4','T5','T7','T8','T11','T12']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1396 entries, 0 to 1395
Data columns (total 9 columns):
T0     1396 non-null float64
T2     1396 non-null int64
T3     1396 non-null int64
T4     1396 non-null float64
T5     1396 non-null float64
T7     1396 non-null float64
T8     1396 non-null int64
T11    1396 non-null int64
T12    1396 non-null float64
dtypes: float64(5), int64(4)
memory usage: 98.2 KB

In [14]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1396 entries, 0 to 1395
Data columns (total 42 columns):
Id        1396 non-null int64
A1        1396 non-null int64
A2        42 non-null float64
A3        1354 non-null float64
A4        1396 non-null int64
t0        1396 non-null float64
T0        1396 non-null float64
t2        1396 non-null float64
T2        1396 non-null int64
t3        1396 non-null float64
T3        1396 non-null int64
P3        1396 non-null float64
t4        1396 non-null float64
T4        1396 non-null float64
t5        1396 non-null float64
T5        1396 non-null float64
P5        1396 non-null float64
A19       1396 non-null int64
S6        1396 non-null float64
A21       1393 non-null float64
A22       1396 non-null float64
A23       1393 non-null float64
t7        1396 non-null float64
T7        1396 non-null float64
t8        1396 non-null float64
T8        1396 non-null int64
S9        1396 non-null float64
B1        1386 non-null float64
B2        1394 non-null float64
B3        1394 non-null float64
S10       1396 non-null float64
t11       1396 non-null float64
T11       1396 non-null int64
t12       1396 non-null float64
T12       1396 non-null float64
S13       1396 non-null float64
S14       1396 non-null float64
S15       1396 non-null float64
B12       1395 non-null float64
B13       1395 non-null float64
B14       1396 non-null int64
Result    1396 non-null float64
dtypes: float64(33), int64(9)
memory usage: 458.1 KB

In [15]:
train.A21[train.A21.isnull()] = train.A21.dropna().mode().values
train.A23[train.A23.isnull()] = train.A23.dropna().mode().values
train.B1[train.B1.isnull()] = train.B1.dropna().mode().values
train.B2[train.B2.isnull()] = train.B2.dropna().mode().values
train.B3[train.B3.isnull()] = train.B3.dropna().mode().values
train.B12[train.B12.isnull()] = train.B12.dropna().mode().values
train.B13[train.B13.isnull()] = train.B13.dropna().mode().values

In [16]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1396 entries, 0 to 1395
Data columns (total 42 columns):
Id        1396 non-null int64
A1        1396 non-null int64
A2        42 non-null float64
A3        1354 non-null float64
A4        1396 non-null int64
t0        1396 non-null float64
T0        1396 non-null float64
t2        1396 non-null float64
T2        1396 non-null int64
t3        1396 non-null float64
T3        1396 non-null int64
P3        1396 non-null float64
t4        1396 non-null float64
T4        1396 non-null float64
t5        1396 non-null float64
T5        1396 non-null float64
P5        1396 non-null float64
A19       1396 non-null int64
S6        1396 non-null float64
A21       1396 non-null float64
A22       1396 non-null float64
A23       1396 non-null float64
t7        1396 non-null float64
T7        1396 non-null float64
t8        1396 non-null float64
T8        1396 non-null int64
S9        1396 non-null float64
B1        1396 non-null float64
B2        1396 non-null float64
B3        1396 non-null float64
S10       1396 non-null float64
t11       1396 non-null float64
T11       1396 non-null int64
t12       1396 non-null float64
T12       1396 non-null float64
S13       1396 non-null float64
S14       1396 non-null float64
S15       1396 non-null float64
B12       1396 non-null float64
B13       1396 non-null float64
B14       1396 non-null int64
Result    1396 non-null float64
dtypes: float64(33), int64(9)
memory usage: 458.1 KB

In [17]:
train['A2'] = train['A2'].fillna(0)

In [18]:
train['A3'] = train['A3'].fillna(0)

In [19]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1396 entries, 0 to 1395
Data columns (total 42 columns):
Id        1396 non-null int64
A1        1396 non-null int64
A2        1396 non-null float64
A3        1396 non-null float64
A4        1396 non-null int64
t0        1396 non-null float64
T0        1396 non-null float64
t2        1396 non-null float64
T2        1396 non-null int64
t3        1396 non-null float64
T3        1396 non-null int64
P3        1396 non-null float64
t4        1396 non-null float64
T4        1396 non-null float64
t5        1396 non-null float64
T5        1396 non-null float64
P5        1396 non-null float64
A19       1396 non-null int64
S6        1396 non-null float64
A21       1396 non-null float64
A22       1396 non-null float64
A23       1396 non-null float64
t7        1396 non-null float64
T7        1396 non-null float64
t8        1396 non-null float64
T8        1396 non-null int64
S9        1396 non-null float64
B1        1396 non-null float64
B2        1396 non-null float64
B3        1396 non-null float64
S10       1396 non-null float64
t11       1396 non-null float64
T11       1396 non-null int64
t12       1396 non-null float64
T12       1396 non-null float64
S13       1396 non-null float64
S14       1396 non-null float64
S15       1396 non-null float64
B12       1396 non-null float64
B13       1396 non-null float64
B14       1396 non-null int64
Result    1396 non-null float64
dtypes: float64(33), int64(9)
memory usage: 458.1 KB

In [20]:
test.drop(['t1'], axis=1, inplace=True)
test.drop(['T1'], axis=1, inplace=True)

for f in ['t0','t2','t3','t4','t5','t7','t8','t11','t12']:
    test[f] = test[f].apply(t2s)
for f in ['S6','S9','S10','S13','S14','S15']:
    test[f] = test.apply(lambda df: getDuration(df[f]), axis=1)

In [21]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 42 columns):
Id        150 non-null object
A1        150 non-null int64
A2        3 non-null float64
A3        147 non-null float64
A4        150 non-null int64
t0        149 non-null float64
T0        150 non-null int64
t2        150 non-null float64
T2        150 non-null int64
t3        150 non-null float64
T3        150 non-null float64
P3        150 non-null float64
t4        150 non-null float64
T4        150 non-null float64
t5        150 non-null float64
T5        150 non-null float64
P5        150 non-null float64
A19       150 non-null int64
S6        150 non-null float64
A21       150 non-null int64
A22       150 non-null int64
A23       150 non-null int64
t7        150 non-null float64
T7        149 non-null float64
t8        150 non-null float64
T8        149 non-null float64
S9        150 non-null float64
B1        149 non-null float64
B2        150 non-null float64
B3        150 non-null float64
S10       150 non-null float64
t11       150 non-null float64
T11       150 non-null int64
t12       150 non-null float64
T12       150 non-null int64
S13       150 non-null float64
S14       150 non-null float64
S15       150 non-null float64
B12       150 non-null int64
B13       150 non-null float64
B14       150 non-null int64
Result    0 non-null float64
dtypes: float64(29), int64(12), object(1)
memory usage: 49.3+ KB

In [22]:
test['A2'] = test['A2'].fillna(0)
test['A3'] = test['A3'].fillna(0)
dic_reduce = {'t0','T7','T8','B1'}

test.t0[test.t0.isnull()] = test.t0.dropna().mode().values
test.T7[test.T7.isnull()] = test.T7.dropna().mode().values
test.T8[test.T8.isnull()] = test.T8.dropna().mode().values
test.B1[test.B1.isnull()] = test.B1.dropna().mode().values

In [23]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 42 columns):
Id        150 non-null object
A1        150 non-null int64
A2        150 non-null float64
A3        150 non-null float64
A4        150 non-null int64
t0        150 non-null float64
T0        150 non-null int64
t2        150 non-null float64
T2        150 non-null int64
t3        150 non-null float64
T3        150 non-null float64
P3        150 non-null float64
t4        150 non-null float64
T4        150 non-null float64
t5        150 non-null float64
T5        150 non-null float64
P5        150 non-null float64
A19       150 non-null int64
S6        150 non-null float64
A21       150 non-null int64
A22       150 non-null int64
A23       150 non-null int64
t7        150 non-null float64
T7        150 non-null float64
t8        150 non-null float64
T8        150 non-null float64
S9        150 non-null float64
B1        150 non-null float64
B2        150 non-null float64
B3        150 non-null float64
S10       150 non-null float64
t11       150 non-null float64
T11       150 non-null int64
t12       150 non-null float64
T12       150 non-null int64
S13       150 non-null float64
S14       150 non-null float64
S15       150 non-null float64
B12       150 non-null int64
B13       150 non-null float64
B14       150 non-null int64
Result    0 non-null float64
dtypes: float64(29), int64(12), object(1)
memory usage: 49.3+ KB

In [24]:
train = train.drop(['Id'],axis = 1)
test = test.drop(['Id'],axis = 1)

In [25]:
train_x = train.drop(['Result'],axis = 1)
train_y = train['Result'].values

test_x = test.drop(['Result'],axis = 1)

In [26]:
from sklearn import preprocessing
from sklearn import linear_model, svm, gaussian_process
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
import numpy as np
x = train_x
y = train_y
print(y.reshape(-1,1))
x_scaled = preprocessing.StandardScaler().fit_transform(x)
y_scaled = preprocessing.StandardScaler().fit_transform(y.reshape(-1,1))
X_train,X_test, y_train, y_test = train_test_split(x_scaled, y_scaled, test_size=0.33, random_state=42)

[[0.9  ]
 [0.896]
 [0.93 ]
 ...
 [0.918]
 [0.943]
 [0.9  ]]

In [27]:
clfs = {
        'svm':svm.SVR(), 
        'RandomForestRegressor':RandomForestRegressor(n_estimators=400),
        'BayesianRidge':linear_model.BayesianRidge()
       }
for clf in clfs:
    try:
        clfs[clf].fit(X_train, y_train)
        y_pred = clfs[clf].predict(X_test)
        print(clf + " cost:" + str(np.sum(y_pred-y_test)/len(y_pred)) )
    except Exception as e:
        print(clf + " Error:")
        print(str(e))

svm cost:14.496152786861863
RandomForestRegressor cost:23.429254271112104
BayesianRidge cost:25.410358410424205

In [28]:
cols = ['OverallQual','GrLivArea', 'GarageCars','TotalBsmtSF', 'FullBath', 'TotRmsAbvGrd', 'YearBuilt']
x = train_x
y = train_y
X_train,X_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=42)

clf = RandomForestRegressor(n_estimators=400)
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)
print(y_pred)

[0.90611148 0.89973781 0.91391471 0.89761857 0.92505699 0.89891519
 0.96418683 0.89445639 0.89431437 0.9752105  0.91570184 0.95317875
 0.90582359 0.90311434 0.89308088 0.93395892 0.89560947 0.92780279
 0.89310798 0.87680253 0.8999737  0.95478305 0.90886272 0.90061045
 0.93600797 0.93666937 0.89386892 0.91675574 0.92614    0.89787441
 0.93230157 0.89703418 0.91242359 0.92938946 0.95730749 0.93634819
 0.89822591 0.89356992 0.91572614 0.93836834 0.97706549 0.90113688
 0.96446031 0.89796568 0.8998361  0.91831083 0.879445   0.93756517
 0.91572983 0.95528313 0.89865672 0.8984344  0.97342276 0.97534859
 0.97017717 0.89795897 0.973      0.92603933 0.89531265 0.88572481
 0.93526656 0.89666742 0.96116654 0.89940991 0.94185417 0.94682092
 0.91218363 0.95730749 0.98488582 0.92903704 0.90131624 0.93008203
 0.88026545 0.93525458 0.94143    0.96589683 0.93434198 0.89727867
 0.92783292 0.97943293 0.92623135 0.90919907 0.94244775 0.90473419
 0.98114515 0.89230979 0.91602072 0.91572983 0.89467687 0.89634351
 0.91363642 0.90142173 0.878965   0.93663883 0.89194965 0.91391471
 0.89846917 0.92809625 0.93173874 0.91242359 0.93230533 0.902575
 0.93456162 0.95537335 0.96107527 0.94296206 0.9307035  0.8913575
 0.89710475 0.91611344 0.89311854 0.91611344 0.88580324 0.89951103
 0.94085983 0.92442667 0.91107493 0.92728563 0.93499181 0.89857426
 0.91572614 0.897945   0.96998005 0.94405425 0.97043883 0.9342225
 0.89651704 0.90670449 0.93666937 0.97000083 0.90102665 0.9371925
 0.89643377 0.97906993 0.89497534 0.89042065 0.92280681 0.90201375
 0.940727   0.93486539 0.93371786 0.9389625  0.93294956 0.940591
 0.94296206 0.91271228 0.89200729 0.90201375 0.90070457 0.93666937
 0.95811817 0.93527198 0.91872062 0.88173088 0.93008203 0.89931257
 0.96464863 0.93371786 0.91572983 0.90611148 0.9327025  0.89769985
 0.93021256 0.91107493 0.89547086 0.9561491  0.89451755 0.96311423
 0.95998701 0.96446865 0.92305215 0.89899045 0.90046644 0.943021
 0.93568    0.93159006 0.93407107 0.93527198 0.98238934 0.89720306
 0.93533206 0.92903704 0.90042887 0.93195106 0.8964     0.95968933
 0.8995261  0.91611344 0.89679458 0.94288752 0.93527198 0.94058107
 0.92989418 0.90797503 0.92724    0.97017717 0.93371786 0.96752757
 0.93600797 0.89155406 0.9329027  0.92728563 0.9219075  0.89386404
 0.93527198 0.93259047 0.89790868 0.89515162 0.90084974 0.94296206
 0.96397549 0.89071619 0.93008203 0.90125177 0.88668791 0.92792521
 0.98114515 0.92582938 0.8868192  0.93021    0.90413237 0.89418312
 0.91218363 0.8991023  0.89995548 0.93041961 0.93221433 0.92296087
 0.88892171 0.89491669 0.96693482 0.95391599 0.93173874 0.88116771
 0.89951302 0.89685103 0.8811267  0.97881964 0.91611344 0.87653551
 0.93173874 0.97652668 0.91907029 0.89836682 0.89071619 0.936701
 0.9746725  0.9339425  0.89321663 0.92048126 0.94296206 0.92504593
 0.8896517  0.9429425  0.8985367  0.94045164 0.97017717 0.93007995
 0.94288752 0.93535153 0.89585004 0.93636729 0.92096238 0.89994469
 0.9377175  0.89970663 0.89519778 0.93831448 0.89728011 0.90362908
 0.89897331 0.97770546 0.93173874 0.938815   0.93855024 0.89655798
 0.95349066 0.93173874 0.91393575 0.96971987 0.8883276  0.89864356
 0.90201375 0.89818896 0.91756477 0.9503935  0.89433947 0.93173874
 0.91242359 0.90055154 0.92032833 0.90201375 0.938106   0.90083435
 0.90117466 0.9402275  0.90317    0.91559399 0.93600797 0.89419257
 0.9492225  0.92938006 0.898605   0.9385248  0.93486539 0.9370005
 0.9351625  0.97476305 0.92955663 0.89071619 0.92877288 0.88929805
 0.9307563  0.90443375 0.89562159 0.92780279 0.88664155 0.91794695
 0.97588106 0.89518937 0.89747725 0.96958583 0.91611344 0.93870777
 0.89990847 0.9358318  0.8903993  0.97303    0.971355   0.90606672
 0.98114515 0.88789644 0.93456162 0.91975464 0.93535153 0.93866499
 0.92692081 0.93044843 0.89171593 0.93527198 0.95133319 0.89476433
 0.93750172 0.89337197 0.92780279 0.92603    0.8993106  0.89640961
 0.93666937 0.90033242 0.93007995 0.93173874 0.9717395  0.91242359
 0.9325437  0.89940667 0.95730749 0.92218979 0.9012877  0.917015
 0.91815294 0.92305215 0.93522287 0.90592962 0.93582055 0.93523192
 0.93831448 0.89750131 0.93535153 0.90004615 0.970326   0.91441801
 0.92603611 0.95114861 0.931046   0.90547754 0.89706002 0.88414117
 0.93949742 0.93339    0.93600797 0.91349391 0.93774581 0.95528313
 0.93371786 0.91218363 0.91107493 0.93014945 0.93371786 0.89712748
 0.88459917 0.90201375 0.89408138 0.91378024 0.9354945  0.9285945
 0.91611344 0.90185976 0.89968644 0.94354975 0.93173874 0.92179257
 0.8943267  0.9629323  0.93007995 0.9398075  0.93816716 0.98114515
 0.89060147 0.97476305 0.94582833 0.8940175  0.97017717 0.9281425
 0.87895    0.92194876 0.93932164 0.89260936 0.89659596 0.95092963
 0.97335329 0.91572614 0.9458545  0.96671818 0.90408413 0.92780279
 0.93173874 0.89105612 0.8928962  0.89217951 0.937503   0.90930936
 0.93550282 0.9071549  0.89847844 0.90103185 0.9304575  0.93844154
 0.90926646 0.8971689  0.89276813 0.963258   0.94346882 0.93008203
 0.90762097 0.90416757 0.90032239 0.9746725  0.935543   0.90052644
 0.97476305 0.94162576 0.89894224 0.9652825  0.89963354 0.92275998
 0.89776254 0.89317898 0.97037602 0.93499181 0.92853963]

In [29]:
sum(abs(y_pred - y_test))/len(y_pred)

0.010653950477598727

In [30]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor

# 之前训练的模型
rfr = clf

In [31]:
x = test_x.values
y_te_pred = rfr.predict(x)
print(y_te_pred)

print(y_te_pred.shape)
print(x.shape)

[0.9205132  0.88118367 0.94826309 0.91572983 0.92386344 0.91349391
 0.93109968 0.90341625 0.93173874 0.91520758 0.963258   0.97001933
 0.93880691 0.95133319 0.89813183 0.92780279 0.89636796 0.93355442
 0.95730749 0.9003937  0.90817646 0.97168777 0.9184168  0.93527198
 0.97945418 0.94296206 0.89675732 0.92445624 0.96928244 0.88974631
 0.97040977 0.89467449 0.89981045 0.89721117 0.91242359 0.90304925
 0.91572983 0.97148119 0.89181545 0.8981825  0.8988273  0.96654646
 0.97756418 0.93522287 0.92527    0.90000131 0.90611148 0.8946515
 0.90160388 0.91107493 0.88774368 0.92247185 0.89429462 0.8929243
 0.89826348 0.9314053  0.92780279 0.90145657 0.937915   0.94296206
 0.93488421 0.97180117 0.91572983 0.94369083 0.93007995 0.93233875
 0.89498865 0.92748    0.95814693 0.91611344 0.9262825  0.9746725
 0.92141736 0.90329378 0.91882871 0.93634819 0.91238935 0.93684368
 0.89707528 0.89378139 0.8982547  0.93007995 0.96819333 0.94355705
 0.91813211 0.90310403 0.96773926 0.92938946 0.95133319 0.91611344
 0.89794018 0.89646771 0.89841349 0.96419782 0.9431075  0.93120915
 0.89646464 0.90099602 0.9378765  0.92848    0.965109   0.93499181
 0.91500179 0.92780279 0.97017717 0.9772965  0.89876492 0.89116265
 0.91872062 0.93140133 0.97090247 0.93007995 0.95133319 0.89992227
 0.9378125  0.93249667 0.89809049 0.92247185 0.90463746 0.90817646
 0.9022159  0.89683882 0.90001679 0.96849163 0.93522287 0.9242377
 0.92842875 0.91242359 0.93013471 0.96314611 0.93666937 0.96693482
 0.93634819 0.93740656 0.95399598 0.937655   0.93454681 0.94102255
 0.9342775  0.89347278 0.9746425  0.93780953 0.90582359 0.89866694
 0.89507692 0.96734727 0.93014945 0.96564849 0.9430225  0.93553133]
(150,)
(150, 40)

In [32]:
# prediction = pd.DataFrame(y_te_pred, columns=['SalePrice'])
# test = pd.read_csv('test.csv',encoding="ISO-8859-1")
# result = pd.concat([test['Id'], prediction], axis=1)

In [33]:
# result

In [34]:
# result.to_csv('./Predictions.csv', index=False)

In [35]:
# result.describe()

In [36]:
train['Result'].describe()

count    1396.000000
mean        0.923244
std         0.030880
min         0.624000
25%         0.902000
50%         0.925000
75%         0.943000
max         1.000800
Name: Result, dtype: float64

In [37]:
from sklearn.linear_model import ElasticNet, Lasso,  BayesianRidge, LassoLarsIC
from sklearn.ensemble import RandomForestRegressor,  GradientBoostingRegressor
from sklearn.kernel_ridge import KernelRidge
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import RobustScaler
from sklearn.base import BaseEstimator, TransformerMixin, RegressorMixin, clone
from sklearn.model_selection import KFold, cross_val_score, train_test_split
from sklearn.metrics import mean_squared_error
import xgboost as xgb
import lightgbm as lgb

In [38]:
#Validation function
n_folds = 5

def rmsle_cv(model):
    kf = KFold(n_folds, shuffle=True, random_state=42).get_n_splits(train.values)
    rmse= np.sqrt(-cross_val_score(model, train_x.values, train_y, scoring="neg_mean_squared_error", cv = kf))
    return(rmse)

In [39]:
lasso = make_pipeline(RobustScaler(), Lasso(alpha =0.0005, random_state=1))
ENet = make_pipeline(RobustScaler(), ElasticNet(alpha=0.0005, l1_ratio=.9, random_state=3))
KRR = KernelRidge(alpha=0.6, kernel='polynomial', degree=2, coef0=2.5)
GBoost = GradientBoostingRegressor(n_estimators=3000, learning_rate=0.05,
                                   max_depth=4, max_features='sqrt',
                                   min_samples_leaf=15, min_samples_split=10, 
                                   loss='huber', random_state =5)
model_xgb = xgb.XGBRegressor(colsample_bytree=0.4603, gamma=0.0468, 
                             learning_rate=0.05, max_depth=3, 
                             min_child_weight=1.7817, n_estimators=2200,
                             reg_alpha=0.4640, reg_lambda=0.8571,
                             subsample=0.5213, silent=1,
                             random_state =7, nthread = -1)
model_lgb = lgb.LGBMRegressor(objective='regression',num_leaves=5,
                              learning_rate=0.05, n_estimators=720,
                              max_bin = 55, bagging_fraction = 0.8,
                              bagging_freq = 5, feature_fraction = 0.2319,
                              feature_fraction_seed=9, bagging_seed=9,
                              min_data_in_leaf =6, min_sum_hessian_in_leaf = 11)
score = rmsle_cv(lasso)
print("\nLasso score: {:.4f} ({:.4f})\n".format(score.mean(), score.std()))

Lasso score: 0.0263 (0.0043)

In [40]:
class AveragingModels(BaseEstimator, RegressorMixin, TransformerMixin):
    def __init__(self, models):
        self.models = models
        
    # we define clones of the original models to fit the data in
    def fit(self, X, y):
        self.models_ = [clone(x) for x in self.models]
        
        # Train cloned base models
        for model in self.models_:
            model.fit(X, y)

        return self
    
    #Now we do the predictions for cloned models and average them
    def predict(self, X):
        predictions = np.column_stack([
            model.predict(X) for model in self.models_
        ])
        return np.mean(predictions, axis=1)

In [41]:
averaged_models = AveragingModels(models = (ENet, GBoost, KRR, lasso))

score = rmsle_cv(averaged_models)
print(" Averaged base models score: {:.4f} ({:.4f})\n".format(score.mean(), score.std()))

 Averaged base models score: 0.6773 (0.9060)

In [42]:
class StackingAveragedModels(BaseEstimator, RegressorMixin, TransformerMixin):
    def __init__(self, base_models, meta_model, n_folds=5):
        self.base_models = base_models
        self.meta_model = meta_model
        self.n_folds = n_folds
   
    # We again fit the data on clones of the original models
    def fit(self, X, y):
        self.base_models_ = [list() for x in self.base_models]
        self.meta_model_ = clone(self.meta_model)
        kfold = KFold(n_splits=self.n_folds, shuffle=True, random_state=156)
        
        # Train cloned base models then create out-of-fold predictions
        # that are needed to train the cloned meta-model
        out_of_fold_predictions = np.zeros((X.shape[0], len(self.base_models)))
        for i, model in enumerate(self.base_models):
            for train_index, holdout_index in kfold.split(X, y):
                instance = clone(model)
                self.base_models_[i].append(instance)
                instance.fit(X[train_index], y[train_index])
                y_pred = instance.predict(X[holdout_index])
                out_of_fold_predictions[holdout_index, i] = y_pred
                
        # Now train the cloned  meta-model using the out-of-fold predictions as new feature
        self.meta_model_.fit(out_of_fold_predictions, y)
        return self
   
    #Do the predictions of all base models on the test data and use the averaged predictions as 
    #meta-features for the final prediction which is done by the meta-model
    def predict(self, X):
        meta_features = np.column_stack([
            np.column_stack([model.predict(X) for model in base_models]).mean(axis=1)
            for base_models in self.base_models_ ])
        return self.meta_model_.predict(meta_features)

In [43]:
stacked_averaged_models = StackingAveragedModels(base_models = (ENet, GBoost, KRR),
                                                 meta_model = lasso)

score = rmsle_cv(stacked_averaged_models)
print("Stacking Averaged models score: {:.4f} ({:.4f})".format(score.mean(), score.std()))

Stacking Averaged models score: 0.0183 (0.0026)

In [44]:
def rmsle(y, y_pred):
    return np.sqrt(mean_squared_error(y, y_pred))/(2*len(y))

In [45]:
stacked_averaged_models.fit(train_x.values, train_y)
stacked_train_pred = stacked_averaged_models.predict(train_x)
stacked_pred = stacked_averaged_models.predict(test_x)
print(rmsle(train_y, stacked_train_pred))

4.448198127228784e-06

In [46]:
model_xgb.fit(train_x, train_y)
xgb_train_pred = model_xgb.predict(train_x)
xgb_pred = model_xgb.predict(test_x)
print(rmsle(train_y, xgb_train_pred))

8.43109465913224e-06

In [47]:
model_lgb.fit(train_x, train_y)
lgb_train_pred = model_lgb.predict(train_x)
lgb_pred = model_lgb.predict(test_x)
print(rmsle(train_y, lgb_train_pred))

4.791415990555473e-06

In [48]:
'''RMSE on the entire Train data when averaging'''

print('RMSLE score on train data:')
print(rmsle(train_y,stacked_train_pred*0.80 +
               xgb_train_pred*0.05 + lgb_train_pred*0.15 ))

RMSLE score on train data:
4.516896666959355e-06

In [49]:
ensemble = stacked_pred*0.70 + xgb_pred*0.15 + lgb_pred*0.15

In [50]:
prediction = pd.DataFrame(ensemble, columns=['SalePrice'])
test = pd.read_csv('test.csv',encoding="ISO-8859-1")
result = pd.concat([test['Id'], prediction], axis=1)
result.to_csv('./Predictions2.csv', index=False)

In [51]:
ensemble

array([0.91997751, 0.88740551, 0.93117253, 0.91679782, 0.91510301,
       0.91854565, 0.9258635 , 0.90686609, 0.9326262 , 0.91719551,
       0.96444081, 0.95683541, 0.93356332, 0.95548361, 0.89550391,
       0.92024769, 0.90005875, 0.93167563, 0.94549744, 0.90682929,
       0.91365235, 0.95959727, 0.92184809, 0.93480882, 0.96348131,
       0.94210058, 0.89749323, 0.92725428, 0.96289506, 0.8967764 ,
       0.95689614, 0.89905754, 0.90309304, 0.8959177 , 0.91377615,
       0.90473822, 0.91679782, 0.97912611, 0.89332507, 0.90988755,
       0.89654031, 0.95602345, 0.96406796, 0.93358681, 0.90404621,
       0.90818195, 0.90862614, 0.90366742, 0.90130593, 0.91628372,
       0.89887126, 0.91924886, 0.8932706 , 0.89972406, 0.89409945,
       0.9329875 , 0.92024769, 0.90104018, 0.93753431, 0.94210058,
       0.92185443, 0.96194002, 0.91679782, 0.93947938, 0.93441486,
       0.9258619 , 0.89544632, 0.92984725, 0.95623457, 0.91802597,
       0.93739136, 0.96854145, 0.92107189, 0.89578794, 0.92696236,
       0.93427424, 0.92084836, 0.93465073, 0.89646313, 0.90050513,
       0.89687897, 0.93441486, 0.97134836, 0.94231763, 0.91655695,
       0.90942649, 0.96507502, 0.92394199, 0.95548361, 0.91802597,
       0.91171087, 0.90396577, 0.90285969, 0.95848951, 0.94135428,
       0.93467074, 0.89988989, 0.9032467 , 0.9333688 , 0.92516823,
       0.96176723, 0.94451446, 0.9166182 , 0.92024769, 0.96378034,
       0.9624737 , 0.89667658, 0.88984925, 0.9216246 , 0.9347428 ,
       0.9653607 , 0.93441486, 0.95548361, 0.89792052, 0.93424298,
       0.92945296, 0.90071245, 0.91924886, 0.90611325, 0.91365235,
       0.906506  , 0.89864328, 0.90141271, 0.97393678, 0.93358681,
       0.92177872, 0.92953237, 0.91377615, 0.92774684, 0.957268  ,
       0.9341213 , 0.96721681, 0.93427424, 0.93728229, 0.95018401,
       0.93692276, 0.93818249, 0.9357536 , 0.93103689, 0.89574671,
       0.96719   , 0.93249267, 0.90934065, 0.90790356, 0.89496114,
       0.95533784, 0.93103314, 0.96228928, 0.93852929, 0.93315185])